* {
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: black;
}

.chairAndDescription {
    width: 100%;
    background-color: #B8B0B0;
    
}

.chairsGallery {
    width: 100%;
    background-color: white;
}

.prizeList {
    width: 100%;
    background-color: #E3DEDE;
}

.formField {
    width: 100%;
    background-color: white;
}

footer {
    width: 100%;
    background-color: white;
}
