/*Ustawienia dla całej strony*/
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../Fonts/raleway-bold.woff2') format('woff2'),
        url('../Fonts/raleway-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'ralewayregular', sans-serif;
}

.widthContainer{
    border: 3px dotted red;
    width: 1150px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}

.clearFloats {
    clear: both;
}


/*Sekcja z header'em*/
header {
    width: 100%;
    height: 45px;
    background-color: #010302;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

#upperLogo {
    width: 110px;
    height: 30px;
    color: white;
    float: left;
}

#blueUpperLogo {
    color: 	#30C6AF;
    display: inline-block;
}

.menuBar {
    width: 320px;
    margin-top: 7px;
    margin-left: 696px;
    padding-top: 4px;
    float: left;
}

.menuItem {
    width: 100px;
    color: white;
    text-align: right;
    float: left;
}


/*Sekcja ze slider'em*/
.chairAndDescription {
    width: 100%;
    height: 500px;
    background-color: #D3D2DB;
    background-image: linear-gradient(180deg, #FAF8F9, #D1D0D6);
    padding-top: 5px;
    padding-bottom: 5px;
}

.arrows {
    font-size: 50px;
    color: #30C6AF;
    margin-top: 200px;
    float: left;
}

.blackChair {
    width: 400px;
    height: 400px;
    background-image: url(../images/black_chair.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 75px 40px 0 20px;
    float: left;
}

.rollTextAndButton {
    width: 520px;
    height: 485px;
    margin: 0 94px 0 0;
    float: left;
}

.littleBlackTriangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    margin-left: 377px;
}

.blackRoll {
    width: 120px;
    height: 120px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    background-color: #030807;
    margin-left: 330px;
    padding-left: 10px;
}

.textArea {
    text-align: center;
}

.mainMission {
    font-size: 35px;
}

.missionFrame {
    width: 400px;
    height: 70px;
    margin-left: 80px;
}

.blackLetters {
    color: #030807;
    margin-left: 7px;
    margin-top: 10px;
    margin-right: 7px;
    float: left;
}

.blueLetters {
    color: #30C6AF;
    margin-left: 7px;
    margin-top: 10px;
    margin-right: 7px;
    float: left;
}

.descriptionOfMission { 
    font-size: 16px;
    color: rgba(3, 8, 7, .75);
}

.bigButton {
    width: 270px;
    height: 50px;
    border-radius: 5px;
    background-color: #30C6AF;
    font-size: 22px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 11px;
    margin-left: 120px;
    margin-top: 40px;
}


/*Sekcja z galerią zdjęć*/
.chairsGallery {
    width: 100%;
    height: 350px;
    background-color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flowersImage {
    width: 350px;
    height: 250px;
    background-image: url(../images/box1_img.jpg);
    background-size: cover;
    margin-top: 20px;
    float: left;
}

.babyImage {
    width: 350px;
    height: 250px;
    background-image: url(../images/box2_img.jpg);
    background-size: cover;
    margin-top: 20px;
    margin-left: 40px;
    float: left;
}

.paleLine {
    height: 70px;
    background-color: hsla(0, 0%, 100%, .50);
    margin-top: 160px;
    padding-left: 10px;
    padding-top: 15px;
}

.imageText {
    border-bottom: 7px solid #30C6AF;
    width: 145px;
}

/*W momencie gdy określę w elemencie blokowym tylko jeden z czterech możliwych elementów border - opcja margin dla tego kierunku (tutaj wertykalnie) przestaje działać... Wyjściem jest określenie paddingów dla elementu blokowego, który jest nadrzędny*/

/*Na projekcie jest omyłka, gdyż pogrubiony border-bottom jest określony jako klasa a nie identyfikator. Przez to na obu obrazkach ma taką samą długość, choć tekst na pierwszym obrazku jest krótszy, co powinno implikować krótszą długość border-bottom*/

.galleryText {
    border: 2px solid #F1F1F1;
    border-radius: 1px;
    width: 350px;
    height: 280px;
    margin-top: 20px;
    margin-left: 40px;
    float: left;
}

.galleryHeading {
    border-bottom: 7px solid #30C6AF;
    width: 145px;
    margin-left: 20px;
    margin-top: 25px;
}

.descriptionText {
    font-size: 15px;
    color: rgba(3, 8, 7, .40);
    margin-left: 20px;
    margin-right: 20px;
}


/*Sekcja z cennikiem*/
.prizeList {
    width: 100%;
    height: 700px;
    background-color: #F1F1F1;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sectionHeading {
    border-bottom: 7px solid #30C6AF;
    width: 330px;
    margin-top: 30px;
}

.prizePanels {
    margin-top: 80px;
}

.panelBasic {
    border: 2px solid #C7CDCF;
    border-radius: 2px;
    width: 347px;
    height: 500px;
    background-color: #F9F9F9;
    float: left;
}

.biggerCircle {
    border: 2px solid #C7CDCF;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    background-color: #FDFDFD;
    position: relative;
    left: 41%;
    top: -9%;
    z-index: 1;
}

.smallerCircle {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background-color: #C7CDCF;
    position: absolute;
    top: 23%;
    left: 22%;
}

.prizeHeading {
    font-size: 23px;
    color: #30C6AF;
    text-align: center;
    position: relative;
    top: -40px;
}

.prizeCircle {
    border: 2px solid #C7CDCF;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #FDFDFD;
    position: relative;
    left: 28%;
    top: -4%;
}

.biggerTextInCircle {
    position: absolute;
    left: 29%;
    top: 25%;
    font-size: 50px;
}

.decimalTextInCircle {
    position: absolute;
    left: 68%;
    top: 25%;
}

.smallerTextInCircle {
    position: absolute;
    left: 25%;
    top: 70%;
}

.darkGreyBar {
    height: 40px;
    background-color: #E3E3E3;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    position: relative;
}

.brighterGreyBar {
    height: 40px;
    background-color: #F0F0F0;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    position: relative;
}

.prizeButton {
    border-radius: 5px;
    width: 120px;
    height: 30px;
    background-color: #30C6AF;
    font-size: 14px;
    text-align: center;
    padding-top: 7px;
    margin-top: 125px;
    margin-left: 110px;
}

.panelStandard {
    border: 2px solid #30C6AF;
    border-radius: 2px;
    width: 347px;
    height: 500px;
    background-color: #30C6AF;
    margin-left: 43px;
    float: left;
}

#biggerCircle {
    border-radius: 50px;
    width: 60px;
    height: 60px;
    background-color: #30C6AF;
    position: relative;
    left: 40%;
    top: -9%;
    z-index: 1;
}

#smallerCircle {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background-color: #FDFDFD;
    position: absolute;
    top: 23%;
    left: 25%;
}

#prizeHeading {
    font-size: 23px;
    color: #FDFDFD;
    text-align: center;
    position: relative;
    top: -40px;
}

#prizeCircle {
    border: 2px solid #30C6AF;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #FDFDFD;
    color: #30C6AF;
    position: relative;
    left: 28%;
    top: -4%;
}

#biggerTextInCircle {
    position: absolute;
    left: 28%;
    top: 25%;
    font-size: 50px;
}

#decimalTextInCircle {
    position: absolute;
    left: 66%;
    top: 25%;
}

#smallerTextInCircle {
    position: absolute;
    left: 25%;
    top: 70%;
}

.whiteBar {
    height: 40px;
    background-color: #FDFDFD;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
}

#prizeButton {
    border-radius: 5px;
    width: 120px;
    height: 30px;
    background-color: #FDFDFD;
    font-size: 14px;
    color: #30C6AF;
    text-align: center;
    padding-top: 7px;
    margin-top: 87px;
    margin-left: 110px;
}

.panelAdvance {
    border: 2px solid #C7CDCF;
    border-radius: 2px;
    width: 347px;
    height: 500px;
    background-color: #F9F9F9;
    margin-left: 43px;
    float: left;
}

#thirdPrizeCircle {
    border: 2px solid #C7CDCF;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #FDFDFD;
    position: relative;
    left: 28%;
    top: -4%;
}

#thirdBiggerTextInCircle {
    position: absolute;
    left: 16%;
    top: 25%;
    font-size: 50px;
}

#thirdDecimalTextInCircle {
    position: absolute;
    left: 65%;
    top: 25%;
}

#thirdSmallerTextInCircle {
    position: absolute;
    left: 25%;
    top: 70%;
}

#thirdPrizeButton {
    border-radius: 5px;
    width: 120px;
    height: 30px;
    background-color: #30C6AF;
    font-size: 14px;
    text-align: center;
    padding-top: 7px;
    margin-top: 48px;
    margin-left: 110px;
}


/*Sekcja z formularzem*/
.formField {
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
}

.formPanel {
    margin-top: 40px;
    margin-bottom: 40px;
}

.inputsAndTextarea {
    width: 605px;
    float: left;
}

input {
    border: 1px solid #30C6AF;
    border-radius: 2px;
    display: block;
    width: 600px;
    height: 60px;
    font-size: 30px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.textArea {
    border: 1px solid #30C6AF;
    border-radius: 2px;
    display: block;
    width: 600px;
    height: 200px;
    text-align: left;
    padding-left: 10px;
}

.imageAndText {
    display: block;
    margin-left: 100px;
    float: left;
}

.redChairImage {
    width: 250px;
    height: 180px;
    background-image: url(../images/red_chair.png);
    background-size: cover;
    background-position: 0 -20px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
}

.tickAndImage {
    margin-top: 20px;
    
}

.tickImage {
    border: 1px solid #30C6AF;
    border-radius: 2px;
    width: 45px;
    height: 45px;
    background-image: url(../images/form_ok.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -5px 1px;
    float: left;
}

.tickText {
    width: 280px;
    padding-top: 4px;
    margin-left: 20px;
    float: left;
}

.largeButton {
    border-radius: 5px;
    width: 340px;
    height: 60px;
    background-color: #30C6AF;
    text-align: center;
    font-size: 30px;
    color: #FDFDFD;
    margin-top: 40px;
    float: left;
}


/*Sekcja z mediami społecznościowymi i prawami autorskimi*/
footer {
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
}

.copyrights {
    margin-top: 25px;
    float: left;
}

.socialMediaPanel {
    width: 200px;
    height: 45px;
    margin-left: 320px;
    margin-top: 5px;
    float: left;
}

#socialMediaIconFr {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url(../images/flickr.png);
    background-size: cover;
    float: left;
}

#socialMediaIconV {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url(../images/vimeo.png);
    background-size: cover;
    float: left;
}

#socialMediaIconPin {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url(../images/pinterest.png);
    background-size: cover;
    float: left;
}

#socialMediaIconTwt {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url(../images/twitter.png);
    background-size: cover;
    float: left;
}

.downLogo {
    height: 45px;
    font-size: 20px;
    margin-left: 20px;
    float: left;
}

#logoSmallerLetters {
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}

#logoBiggerLetter {
    font-weight: bold;
    float: left;
}
